/* Coolors Exported Palette - https://coolors.co/0f172a-377dff-60a5fa-5debd7-b08b5e-fdfdfd-e5e7eb-1e2a32 */

/* CSS HEX */
--oxford-blue: #0f172aff;
--blue-crayola: #377dffff;
--ruddy-blue: #60a5faff;
--turquoise: #5debd7ff;
--lion: #b08b5eff;
--white: #fdfdfdff;
--antiflash-white: #e5e7ebff;
--gunmetal: #1e2a32ff;

/* CSS HSL */
--oxford-blue: hsla(222, 47%, 11%, 1);
--blue-crayola: hsla(219, 100%, 61%, 1);
--ruddy-blue: hsla(213, 94%, 68%, 1);
--turquoise: hsla(172, 78%, 64%, 1);
--lion: hsla(33, 34%, 53%, 1);
--white: hsla(0, 0%, 99%, 1);
--antiflash-white: hsla(220, 13%, 91%, 1);
--gunmetal: hsla(204, 25%, 16%, 1);

/* SCSS HEX */
$oxford-blue: #0f172aff;
$blue-crayola: #377dffff;
$ruddy-blue: #60a5faff;
$turquoise: #5debd7ff;
$lion: #b08b5eff;
$white: #fdfdfdff;
$antiflash-white: #e5e7ebff;
$gunmetal: #1e2a32ff;

/* SCSS HSL */
$oxford-blue: hsla(222, 47%, 11%, 1);
$blue-crayola: hsla(219, 100%, 61%, 1);
$ruddy-blue: hsla(213, 94%, 68%, 1);
$turquoise: hsla(172, 78%, 64%, 1);
$lion: hsla(33, 34%, 53%, 1);
$white: hsla(0, 0%, 99%, 1);
$antiflash-white: hsla(220, 13%, 91%, 1);
$gunmetal: hsla(204, 25%, 16%, 1);

/* SCSS RGB */
$oxford-blue: rgba(15, 23, 42, 1);
$blue-crayola: rgba(55, 125, 255, 1);
$ruddy-blue: rgba(96, 165, 250, 1);
$turquoise: rgba(93, 235, 215, 1);
$lion: rgba(176, 139, 94, 1);
$white: rgba(253, 253, 253, 1);
$antiflash-white: rgba(229, 231, 235, 1);
$gunmetal: rgba(30, 42, 50, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);
$gradient-right: linear-gradient(90deg, #0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);
$gradient-bottom: linear-gradient(180deg, #0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);
$gradient-left: linear-gradient(270deg, #0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);
$gradient-top-right: linear-gradient(45deg, #0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);
$gradient-bottom-right: linear-gradient(135deg, #0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);
$gradient-top-left: linear-gradient(225deg, #0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);
$gradient-bottom-left: linear-gradient(315deg, #0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);
$gradient-radial: radial-gradient(#0f172aff, #377dffff, #60a5faff, #5debd7ff, #b08b5eff, #fdfdfdff, #e5e7ebff, #1e2a32ff);